body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: linear-gradient(180deg, #33aaff, #ffffff);
  font-feature-settings: "tnum", "cvXX", "ss02", "cv10", "cv06", "cv11";
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  display: flex;
  background-color: rgba(255, 255, 255);
  width: 500px;
  height: fit-content;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  padding: 20px;
}

.low-opacity {
  opacity: 0.2;
}

#input {
  font-family: inherit;
  width: inherit;
  text-align: center;
  background-color: transparent;
  padding: 20px;
  outline: none;
  border: none;
  font-size: 20px;
  margin: 0;
  transition: 0.3s ease-in-out;
  overflow-wrap: break-word;
  resize: none;
  overflow: hidden;
}

#input:hover {
  opacity: 0.2;
}

#input::placeholder {
  opacity: 0.2;
  text-align: center;
  font-size: 20px;
  padding: 0px;
  margin: 0;
}

#input:focus {
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 20px;
  margin: 0;
}

.input {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 90%;
}

p {
  color: white;
}
